.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.InputBox {
  margin-right: 210px;
  width: 300px;
  height: 30px;
  background-color: aliceblue;
  border: none;
  border-bottom:2px solid slateblue;
  outline: none;
}

.saveButton {
  margin-top: 70px;
  width: 200px;
  height: 40px;
  background-color: slateblue;
  border: none;
  color: white;
  font-size: 15px;
};

.pp {
  margin: 10px;
}